.cart {
  height: 4rem;
  width: 4rem;
  cursor: pointer;
  position: relative;

  svg {
    height: 100%;
    width: 100%;
  }

  .cartItem {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -70%);
    font-weight: 700;
    text-align: center;
  }
}
