.login {
  max-width: 144rem;
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 60rem;
  justify-content: center;
  grid-column-gap: 10rem;
  margin-top: 4rem;
  margin-bottom: 4rem;

  @media (max-width: 64em) {
    grid-template-columns: 1fr;
    grid-row-gap: 4rem;
  }
  @media (max-width: 43.74em) {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}
