.button {
  display: inline-block;
  background: var(--color-primary);
  color: var(--color-secondary);
  border: none;
  padding: 1rem 1.5rem;
  font-size: 1.2rem;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease;

  &.google {
    background: #4285f4;
  }
  &.facebook {
    background: #156fe5;
  }

  &:hover {
    filter: brightness(120%);
  }

  &.light {
    color: var(--color-primary);
    background: var(--color-secondary);
    opacity: 0.8;
  }
}
